
html {
    scroll-padding-top: 110px; 
    scroll-behavior: smooth;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #FFFFFF;
}
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .seeMoreBtn::after  {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #B389AC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after, .seeMoreBtn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.opacityVideoEfx {
  animation: opacityEfx 3s;
}

.opacityEfx {
  animation: opacityEfx 1.5s;
}

.menuLinks {
  margin: .5rem;
  font-weight: 700;
}


/*============================ KEYFRAMES ============================ */

  @keyframes opacityEfx { 
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }